body {
  background-color: #EFFFFD;
  margin: 0;
  position: absolute;
}

.top_container {
  padding-top: 20px;
  background-color: #B8FFF9;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  position: relative;
  display:  inline-block;
}

h1 {
  color: #1C3879;
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 5rem;
  margin-top: 100px;
}

#fi {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 2rem;
}
p{
  font-family: 'Raleway', sans-serif;
text-align: center;
font-size: 1.5rem;
}
span{
  font-weight:bolder;
  font-style: italic;
}

.top_cloud {
  position: absolute;
 left :60%;
 top: 50px;
}
.bottom_cloud{
  position: relative;
  left: 30%;
  bottom: 300px;
}
.mountain{
  position: relative;
  margin-left: 25%;
}

.middle_container {
  padding: 10 0 10 0;
    height: 230px;
  width: 100%;
  background-color: #F1F1F1;
  display: block;
  text-align: center;
}
#si{
  font-size: 3rem;
}
#dp{
  position: relative;
  border-radius: 70%;
  height: 90%;
   width: 10%;
   text-align: center;
}
#dp:hover{
  position: relative;
  border-radius: 100%;
  height: 100%;
   width: 11.5%;
   text-align: center;
}


.bottom_container {
  display: block;
  position: absolute;
  top: 3050px;
  height: 200px;
  width: 100%;
  background-color: #FF7BA9;
}
.btn{
  color: #395B64;
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 20px;

}
.footer_link{
  padding: 2rem;
  height: 3rem;
  width: 3rem;
}
