.body{
  font-size: 40px;
}
.top{
  background-image: url("bunting.png");
  width: 100%;
  background-color: #EFFFFD;
  height:300px;
  text-align: center;

}
.n1{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}
.nm{
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 100px;
}
